/* ANIMATIONS */
@keyframes opacityDelay {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* *AMPLO - width: +1200px */

#header {
  justify-content: space-between;
  padding: 70px 50px;
  position: fixed;
  top: 0;
  width: 100vw;

  /* id:2 */
  z-index: 2;
  transition: var(--trs1);
}

#header .img-logo {
  width: 40px;
  height: 40px;
}

/* HEADER - STICKY */

#header.sticky {
  padding: 30px 30px;
  background: var(--clr1);
  transition: var(--trs1);
}

#header.sticky a {
  color: var(--clr2);
}

/* HEADER - ACTIVE */

/* *Desktop - whidth: 992px */
@media (max-width: 992px) {
}

/* *Tables - whidth: 768px */
@media (max-width: 768px) {


  #header {
  }

  #menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  width: 100%;
  top: 100px;
  right: 0;
  background: var(--clr3);
  transition: var(--trs1);
  z-index: 2;
  height: 0;
  padding-top: 30px;
  margin-top: 70px;
  visibility: hidden;
  overflow-y: hidden;
  }

  #menu a{
    font-weight: bold;
}

  #header button {
    display: flex;
    width: 35px;
    height: 20px;
    background: none;
    border: 1px solid transparent;
    position: relative;
    transition: var(--trs1);
  }

  #header button span {
    width: 100%;
    height: 1px;
    background: var(--clr1);
    transition: var(--trs1);
  }

  #header button::after,
  #header button::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: var(--clr1);
    transition: var(--trs1);
  }

  #header button::before {
    top: 0;
    transition: var(--trs1);
  }

  #header button::after {
    bottom: 0;
    transition: var(--trs1);
  }

  /* STICKY */

  #header.sticky button::after,
  #header.sticky button::before,
  #header.sticky button span {
    background: var(--clr2);
  }

  #header.sticky #menu{
    margin-top: -5px;
  }

  /* ACTIVE */

  #header.active #menu {
    height: calc(100vh - 70px);
    display: flex;
    visibility: visible;
    overflow-y: auto;
  }

  #header.active #menu a {
    color: var(--clr1);
  }

  #header.active button span {
    transform: translateX(-50px);
    opacity: 0;
    transition: var(--trs1);
    animation: opacityDelay 0.4s linear;
  }

  #header.active button::before {
    top: 0;
    transform: rotate(50deg) translateY(13px);
    transition: var(--trs1);
  }

  #header.active button::after {
    bottom: 0;
    transform: rotate(-50deg) translateY(-15px);
    transition: var(--trs1);
  }
}

/* *mobile - whidth: 360px */
@media (max-width: 360px) {
}
